@model IEnumerable<PDD.SachOnline.Models.CHUDE>
<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center">MÔ HÌNH THEO ANIME</li>
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SachTheoChuDe","SachOnline", new {MaCD = item.MaCD})" class="list-group-item">@item.TenChuDe</a>
    }
</ul>
